# Dirs With Binaries #
bin
lib
target
xtend-gen
src-gen
classes
temp

# Binary Files #
*.class
*.dll
*.lib
*.exe
*.obj

# Package Files #
*.jar
*.war
*.ear
*.zip
*.rar
*.7z
*.tar

# Temporary Files #
*.bak
*.log

# Data Files #
*.dat
*.idn
*.target
